%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to 'Curse Project', root_path, id:'logo'
      %nav
        %ul.nav
        %ul.nav.pull-right
          = link_to 'Graph', graph_path